[submodule "spacecam_hardware"]
	path = spacecam_hardware
	url = https://github.com/nilseuropa/spacecam_hardware
[submodule "spacecam_firmware"]
	path = spacecam_firmware
	url = https://github.com/nilseuropa/spacecam_firmware
[submodule "spacecam_gazebo_plugin"]
	path = spacecam_gazebo_plugin
	url = https://github.com/nilseuropa/spacecam_gazebo_plugin
[submodule "spacecam_ros_bridge"]
	path = spacecam_ros_bridge
	url = https://github.com/nilseuropa/spacecam_ros_bridge
